/* Estilos gerais para a página */
body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Preenche a altura da janela do navegador */
    display: flex;
    background-image: url("/static/fundo2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
}

/* Este é o seletor para o título que você deseja estilizar */
.titulo {
    color: #858585;
    text-align: right;
    font-family: 'Roboto', monospace; /* Use aspas simples se o nome da fonte contiver espaços */
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* Estilos para a parte esquerda (1/5 da largura) */
.first-section {
    position: relative;
    width: 20%; /* 1/5 da largura */
    margin-left: 0px;
    background-color:#c1902e;
}

/* Estilos para a parte direita (4/5 da largura) */
.second-section {
    width: 80%; /* 4/5 da largura */
    display: flex;
    flex-direction: column;
}

/* Estilos para a parte superior direita (4/5 da altura) */
.scrollable-content:nth-child(1) {
    height: 80%; /* 4/5 da altura */
    overflow-y: auto; /* Adicionar barra de rolagem vertical se necessário */
    overflow-x: hidden; /* Ocultar a barra de rolagem horizontal */
    font-size: 16px; /* Ajuste o tamanho da fonte conforme necessário */
    font-family: 'Roboto'; /* Use a fonte condensada desejada */
    padding: 10px; /* Adicione padding à esquerda e à direita */
}

.second-section {
    background-color: #9f9f9f; /* Defina a cor de fundo escura desejada (neste exemplo, #333 é um tom escuro de cinza) */
}

/* Estilos para a parte inferior direita (1/5 da altura) */
.scrollable-content:nth-child(2) {
    height: 20%; /* 1/5 da altura */
    overflow-y: hidden; /* Adicionar barra de rolagem vertical se necessário */
    overflow-x: hidden; /* Ocultar a barra de rolagem horizontal */
    display: flex;
    flex-direction: column; /* Alinhar elementos verticalmente */
}

button#enviar {
    background-color: #2E6304; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none; /* Remove a borda */
    border-radius: 20px; /* Bordas arredondadas */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra */
    padding: 10px 20px; /* Espaçamento interno (preenchimento) */
    cursor: pointer; /* Altera o cursor ao passar o mouse */
}

.user-input {
    flex-grow: 9; /* Crescer para ocupar o espaço disponível */
    display: flex;
    flex-direction: column; /* Alinhar elementos verticalmente */
    justify-content: flex-start; /* Alinhar elementos no topo da área */
    padding: 10px; /* Adiciona preenchimento para ajustar o espaço */

}

.input-container {
    display: flex;
    align-items: center; /* Alinha elementos verticalmente ao centro */
}

button {
    margin-top: 2px; /* Espaço entre o campo de entrada e o botão */
}

textarea {
    resize: vertical; /* Permite redimensionamento em ambas as direções, horizontal e vertical */
    height: 127px; /* Define a altura desejada em pixels ou outra unidade de medida */
    color: #000000; /* Cor texto usuário */
    font-size: 16px; /* Aumenta o tamanho da fonte para 16 pixels ou outro valor desejado */
    font-family: 'Roboto'; /* Usa a fonte condensada desejada */
    font-weight: bold;
    flex-grow: 1; /* Crescer para ocupar o espaço disponível na vertical */
    overflow-wrap: break-word;
    align-self: stretch;
    padding: 7px; /* Adiciona padding à esquerda e à direita */
    background-color: #ddd; /* Define a cor de fundo cinza mais escura desejada */
}

.mensagem-usuario {
    color: #000000; /* Cor azul para as mensagens do usuário */
    padding: 5px; /* Espaçamento interno para melhorar o destaque */
    margin-bottom: 5px; /* Adiciona um espaçamento entre as mensagens */
}

.mensagem-bot {
    color: #113c52; /* Cor verde para as mensagens do bot */
    padding: 5px; /* Espaçamento interno para melhorar o destaque */
    margin-bottom: 5px; /* Adiciona um espaçamento entre as mensagens */
    font-family: Roboto;

}

.button {
    background-color: #2E6304; /* Cor de fundo */
    color: #ffff; /* Cor do texto */
    border: none; /* Remove a borda */
    border-radius: 20px; /* Bordas arredondadas */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra */
    padding: 10px 20px; /* Espaçamento interno (preenchimento) */
    cursor: pointer; /* Altera o cursor ao passar o mouse */
}

.section-heading {
    margin-top: 20px;
}

#enviar-ao-chat {

    position: absolute;
    top: 20%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Move o elemento de volta em 50% do seu próprio tamanho para centralizá-lo corretamente */

    background: rgb(255, 255, 255);
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    color: #c1902e;
    padding: 10px 20px; /* Espaçamento interno (preenchimento) */

}


.file-label{

    position: absolute;
    top: 12%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Move o elemento de volta em 50% do seu próprio tamanho para centralizá-lo corretamente */

    background: rgb(0, 0, 0);
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    color: #a0a0a0;
    padding: 10px 20px; /* Espaçamento interno (preenchimento) */

}
