<!DOCTYPE html>
<html>
<head>
    <title>Chatbot</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var botaoEnviarAoChat = document.getElementById("enviar-ao-chat");
            var TextPDF = document.getElementById("pdf-text-area");
            var formUpload = document.querySelector("form[action='/upload']");
            if (botaoEnviarAoChat && TextPDF && formUpload) {
                formUpload.addEventListener("submit", function (event) {
                    event.preventDefault();

                    botaoEnviarAoChat.disabled = true;
                    var formData = new FormData(formUpload);
                    formData.append("texto", TextPDF.value);
                    console.log("Envio de arquivo acionado");

                    fetch("/upload", {
                        method: "POST",
                        body: formData
                    })
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (data) {
                        console.log(data);
                        botaoEnviarAoChat.disabled = false;
                        if (data.error_message) {
                            alert("Erro ao enviar arquivo: " + data.error_message);
                        }
                        else {
                            // Aduciona o conteúdo do elemento com id "pdf-text-area" com o texto do arquivo PDF
                            console.log(data);
                            var elementoPdfText = document.getElementById("pdf-text-area");
                            if (elementoPdfText) {
                                elementoPdfText.value = elementoPdfText.value + '\n' + data.pdf_text;
                            }
                        }
                    });
                });
            }
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var botaoEnviar = document.getElementById("enviar");
            var perguntaTextarea = document.getElementById("pdf-text-area");

            if (botaoEnviar && perguntaTextarea) {
                botaoEnviar.addEventListener("click", function () {
                    function atualizarStatusProcessamento(estaProcessando) {
                        if (estaProcessando) {
                            perguntaTextarea.value = "Processando...";
                            perguntaTextarea.disabled = true;
                            botaoEnviar.disabled = true;
                        } else {
                            perguntaTextarea.value = "";
                            perguntaTextarea.disabled = false;
                            botaoEnviar.disabled = false;
                        }
                    }
                    var pergunta = perguntaTextarea.value;

                    if (pergunta && pergunta !== "Perguntar ao LawMindAI...") {
                        atualizarStatusProcessamento(true);

                        var mensagemUsuario = document.createElement("div");
                        mensagemUsuario.className = "mensagem-usuario";
                        mensagemUsuario.textContent = pergunta;
                        document.querySelector("#dialog-section .scrollable-content").appendChild(mensagemUsuario);

                        fetch('/respond?pergunta=' + encodeURIComponent(pergunta))
                            .then(response => response.json())
                            .then(data => {
                                var respostaBot = data.resposta;
                                var mensagemBot = document.createElement("div");
                                mensagemBot.className = "mensagem-bot";
                                mensagemBot.textContent = respostaBot;
                                document.querySelector("#dialog-section .scrollable-content").appendChild(mensagemBot);

                                atualizarStatusProcessamento(false);
                                perguntaTextarea.value = "";
                            })
                            .catch(error => {
                                console.error(error);
                                atualizarStatusProcessamento(false);
                            });
                    } else {
                        console.log("Nenhum texto na área de pergunta.");
                    }

                    perguntaTextarea.addEventListener("focus", function () {
                        if (perguntaTextarea.value === "Perguntar ao LawMindAI...") {
                            perguntaTextarea.value = "";
                        }
                    });

                    perguntaTextarea.addEventListener("blur", function () {
                        if (perguntaTextarea.value === "") {
                            perguntaTextarea.value = "Perguntar ao LawMindAI...";
                        }
                    });
                });
            } else {
                console.log("Elemento com ID 'enviar' ou 'pdf-text-area' não encontrado no DOM.");
            }
        });
    </script>

</head>

<body>
    <div class="first-section">
        <form method="POST" action="/upload" enctype="multipart/form-data">
            <label for="file" class="file-label"> Escolher arquivo</label>
            <input type="file" name="file" id="file" accept=".pdf" style="display: none;">
            <input type="submit" id="enviar-ao-chat" value="Enviar ao ChatBot">
        </form>
    </div>    

    </div>
    <div class="second-section" id="dialog-section">
        <div class="scrollable-content">
        </div>
        <div class="user-input">
            <div class="input-container">
                <textarea id="pdf-text-area" rows="10" cols="40" placeholder="Perguntar ao LawMindAI..."></textarea>
                <div class="button-container">
                    <button id="enviar" class="button" style="display: block;">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
