<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>
    
    <div class="retangulo">

    <h1 class="titulo-estilizado">LawMindAI</h1>
    <button id="openRegisterModal">Registrar</button>
    <button id="openLoginModal">Entrar</button>
    
    </div>

   <!-- Modal de Registro -->

   <div id="registerModal" class="modal register-modal">
       <div class="modal-content">
           <form id="registration-form" method="post" action="/register">
               <label for="nome">Nome:</label>
               <input type="text" id="nome" name="nome" required>

               <label for="email">Email:</label>
               <input type="email" id="email" name="email" required>

               <label for="senha_registro">Senha:</label>
               <input type="password" id="senha_registro" name="senha" required>
               <button type="submit">Salvar</button>
           </form>
       </div>
   </div>


   <!-- Modal de Login -->
   
   <div id="loginModal" class="modal login-modal">
       <div class="modal-content">
           <form id="login-form" method="post" action="/login">
               <label for="nome_de_usuario"> Nome de Usuário:</label>
               <input type="text" id="nome_de_usuario" name="nome_de_usuario" required>

               <label for="senha_login">Senha:</label>
               <input id="senha_login" name="senha" required type="password">

               <button type="submit">Entrar</button>
           </form>
       </div>
    </div>

   <div id="error-message" style="display: none;" class="alert alert-danger"></div>

   {% with messages = get_flashed_messages() %}
      {% if messages %}
         <ul>
            {% for message in messages %}
                <li class="flash-message">{{ message }}</li>
             {% endfor %}
         </ul>
      {% endif %}
   {% endwith %}

   <script>
   // Esconde as mensagens flash após 5 segundos (5000 milissegundos)
   setTimeout(function () {
       var flashMessages = document.querySelectorAll('.flash-message');
       flashMessages.forEach(function (message) {
           message.style.display = 'none';
       });
    }, 5000); // 5000 milissegundos (5 segundos)
   </script>

<script>
    // Quando o botão de registro é clicado, abra o modal de registro e oculte os botões
    document.getElementById("openRegisterModal").addEventListener("click", function () {
        document.getElementById("registerModal").style.display = "block";
        document.getElementById("openRegisterModal").style.display = "none"; // Oculta o botão "Registrar"
        document.getElementById("openLoginModal").style.display = "none"; // Oculta o botão "Entrar"
    });

    // Quando o botão de login é clicado, abra o modal de login e oculte os botões
    document.getElementById("openLoginModal").addEventListener("click", function () {
        document.getElementById("loginModal").style.display = "block";
        document.getElementById("openLoginModal").style.display = "none"; // Oculta o botão "Entrar"
        document.getElementById("openRegisterModal").style.display = "none"; // Oculta o botão "Registrar"
    });

    // Para fechar os modais
    var modals = document.getElementsByClassName("modal");
    window.onclick = function (event) {
        for (var i = 0; i < modals.length; i++) {
            if (event.target == modals[i]) {
                modals[i].style.display = "none";
            }
        }
    };
</script>

  </body>
</html>