<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hometext</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>

    <h1 class="logo">LawMindAI</h1>

    <div class="retangulo">
    <p class="texto"> Um sistema web que faz uso de inteligência artificial, incorporando a API da OpenAI Platform, que disponibiliza o ChatGPT. 

        <br><br>Analisa e interage com seus documentos para que você agilize seu dia!
        
        <br><br>Nunca foi tão fácil trabalhar com processos judiciais.</p>
    </div>
    
    <button id="ChatGPT"><a href="/login">Escolha o arquivo, faça suas perguntas!</a></button>
    


</body>